services:
  - type: web
    name: backend-of-cevsoft
    env: node
    region: singapore
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        value: 8000
      - key: NODE_ENV
        value: production
